<div class="container shadow" >
  <div id="<%= dom_id article %>">

    <p>
      <div class="h4"><strong>Title:</strong></div> 
      <div class="h3"><%= article.title %></div> 

    </p>
    <hr>

    <p>
      <strong>Body:</strong>
      <%= article.body %>
      <br>
      <hr>
      <br>
    </p>
    

  </div>
</div>